#novedades {
    color: #1D3A6C;
    text-align: left;
    font-size: 26px;
    position: relative;
    z-index: 1;
    font-family: 'Nunito', sans-serif;
    margin-left: 170px;
}

#imagenPrincipal {
    width: 300px;
    height: 450px;
    border-radius: 5%;
}

#imagen1,
#imagen2 {
    width: 250px;
    height: 250px;
    border-radius: 5%;
}

#tituloImagenesPrincipal {
    width: 400px;
    height: 40px;
    background-color: #1D3A6C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    font-size: 26px;
    line-height: 40px; 
    transition: background-color 0.3s;
    font-family: 'Nunito', sans-serif;
}

#tituloImagenes {
    width: 250px;
    background-color: #1D3A6C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    font-size: 26px;
    transition: background-color 0.3s;
    font-family: 'Nunito', sans-serif;
}
#textoImagenesPrincipal{
    width: 400px;
    text-align: left;
    margin: 20px auto;
}

#textoImagenes{
    width: 250px;
    text-align: left;
    margin: 20px auto;
    padding: 0;
    margin-bottom: 0;
}