body {
    margin: 10;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-image: url('../Recursos/Encabezado.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; /* Añade position: relative para posicionar elementos secundarios */
    color: #fff;
    text-align: center;
    padding: 60px 0;
    


    /* Añade un pseudo-elemento para la superposición oscura */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(6, 66, 145, 0.3); /* Ajusta el valor según tu preferencia (0 a 1) */
    }
}
.header h1,
.header h2 {
    position: relative;
    z-index: 1; /* Asegura que el texto esté por encima de la capa oscura */
}


.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    height: 60px;
}

nav {
  
    position: absolute;
    top: 35px;
    left: 200px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.login {
    position: absolute;
    top: 20px;
    right: 20px;
}

.login img {
    height: 20px;
    margin-right: 5px;
}

.search-icon {
    position: absolute;
    top: 20px;
    right: 70px;
}

.search-icon img {
    height: 20px;
}

h1 {
    font-weight: bold;
    font-size: 36px; /* Tamaño de fuente aumentado */
    margin-bottom: 10px; /* Espacio inferior aumentado */
}

h2 {
    font-size: 24px; /* Tamaño de fuente aumentado */
}

@media screen and (max-width: 600px) {
    .logo,
    .login,
    .search-icon,
    nav {
        position: static;
        margin: 0 auto; /* Alinear el menú al centro en dispositivos móviles */
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        margin: 10px 0;
    }
    /* Estilos para el menú desplegable */

    
}
.btn-link {
    color: white !important; /* Establece el color del texto en blanco */
    text-decoration: none !important; /* Elimina cualquier decoración de texto, como el subrayado */
}

.btn-link:hover {
    color: white !important; /* Mantén el color blanco al pasar el ratón por encima */
    text-decoration: none !important; /* Elimina cualquier decoración de texto al pasar el ratón por encima */
}